.ves-brandlist-page .brand-logo {
    float: none;
    margin-bottom: 5px;
    min-height: 80px;
    display: block;
}

.ves-brandlist-page .brand-title {
    font-size: 15px;
    font-weight: bold;
}

.ves-brandlist-page li,.ves-brandlist-page .brand-item{
    min-height: 130px;
    text-align: center;
    background-color: white;
    border: 1px solid #DDDDDD;
    padding: 8px;
    margin: 5px;
}

.ves-brandlist-page .layout-grid li, .ves-brandlist-page .layout-grid .brand-item{
	float: left;
}
.ves-brandlist-page .pager .pages {display: block; margin-left: 10px	;}

.venus-brand-menu li {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.venus-brand-menu li:first-child {
    border: medium none;
}
.brand-showmore{
    text-align: center;
    margin: 10px 0px;
}
.brand-submit{
    text-align: right;
    margin: 10px;
}
