<?xml version="1.0"?>
<!--
/**
 * Magento Product List extension
 *
 * @category   Ves
 * @package    Ves_ProductList
 * @author     venustheme.com
 */
-->
<config>
	<default>
	</default>
    <modules>
        <Ves_ProductList>
            <version>1.0.1</version>
        </Ves_ProductList>
    </modules>
    <frontend>
        <routers>
            <productlist>
                <use>standard</use>
                <args>
                    <module>Ves_ProductList</module>
                    <frontName>productlist</frontName>
                </args>
            </productlist>
        </routers>
        <layout>
            <updates>
                <productlist>
                    <file>ves_productlist.xml</file>
                </productlist>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <productlistadmin>
                <use>admin</use>
                <args>
                    <module>Ves_ProductList</module>
                    <frontName>productlistadmin</frontName>
                </args>
            </productlistadmin>
            <adminhtml>
                <args>
                    <modules>
                        <Ves_ProductList after="Mage_Adminhtml">Ves_ProductList_Adminhtml</Ves_ProductList>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <productlist>
                    <file>ves_productlist.xml</file>
                </productlist>
            </updates>
        </layout>
    </adminhtml>
    <crontab>
        <jobs>
            <productlist_rule_apply_all>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>productlist/observer::applyAllRuleByCronTab</model>
                </run>
            </productlist_rule_apply_all>
        </jobs>
        <events>
            <catalog_product_save_after>
                <observers>
                    <productlist>
                        <class>productlist/observer</class>
                        <method>applyAllRule</method>
                    </productlist>
                </observers>
            </catalog_product_save_after>
        </events>
    </crontab>
    <global>
        <events>
            <controller_front_init_routers>
                <observers>
                    <ves_produlist_observer>
                        <type>singleton</type>
                        <class>Ves_ProductList_Model_Observer</class>
                        <method>initControllerRouters</method>
                    </ves_produlist_observer>
                </observers>
            </controller_front_init_routers>
            <catalog_product_save_after>
                <observers>
                    <ves_productlist_detect_product_changes>
                        <type>singleton</type>
                        <class>productlist/observer</class>
                        <method>applyAllRule</method>
                    </ves_productlist_detect_product_changes>
                </observers>
            </catalog_product_save_after>
        </events>
        <models>
            <productlist>
                <class>Ves_ProductList_Model</class>
                <resourceModel>productlist_mysql4</resourceModel>
            </productlist>
            <productlist_mysql4>
                <class>Ves_ProductList_Model_Mysql4</class>
                <entities>
                    <rule>
                        <table>productlist_rule</table>
                    </rule>
                    <rule_product>
                        <table>productlist_rule_product</table>
                    </rule_product>
                    <rule_store>
                        <table>productlist_rule_store</table>
                    </rule_store>
                    <rule_customer>
                        <table>productlist_rule_customer</table>
                    </rule_customer>
                </entities>
            </productlist_mysql4>
            <widget>
                <rewrite>
                    <widget>Ves_ProductList_Model_Mage_Widget</widget>
                </rewrite>
            </widget>
        </models>
        <resources>
            <productlist_setup>
                <setup>
                    <module>Ves_ProductList</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </productlist_setup>
            <productlist_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </productlist_write>
            <productlist_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </productlist_read>
        </resources>
        <blocks>
            <productlist>
                <class>Ves_ProductList_Block</class>
            </productlist>
            <catalog>
                <rewrite>
                  <layer_filter_price>Ves_ProductList_Block_Catalog_Layer_Filter_Price</layer_filter_price>
                </rewrite>
            </catalog>
        </blocks>
        <helpers>
            <productlist>
                <class>Ves_ProductList_Helper</class>
            </productlist>
        </helpers>
    </global>
    <default>
        <productlist>
            <general_setting>
                <show>1</show>
                <enable_owl>1</enable_owl>
                <enable_countdown_js>1</enable_countdown_js>
            </general_setting>
            <deals_setting>
                <show_discount>1</show_discount>
                <show_save_price>1</show_save_price>
                <show_number_bought>1</show_number_bought>
                <show_countdown_timer>1</show_countdown_timer>
            </deals_setting>
        </productlist>
    </default>
</config>