/* --- SCSS For Accordion --- */
/* --- SCSS For Call-to-action --- */
/* --- SCSS For Content-slider --- */
/*  */
/* carousel-controls-v1 */
/* carousel-controls-v2 */
/* carousel-controls-v3 */
/* carousel-indicators-v1 */
/* carousel-indicators-v2 */
/* carousel-indicators-v3 */
/* carousel-indicators-v4 */
/* carousel-indicators-v5 */
/* carousel-indicators-v6 */
/* --- SCSS For Counters --- */
/* --- SCSS For Heading --- */
/* --- SCSS For Latest-posts --- */
/* latest posts */
/* --- SCSS For List --- */
/* variables for list */
/* variables for list light */
/* --- SCSS For Newsletter --- */
/* --- SCSS For Process-steps --- */
/* process-steps */
/* --- SCSS For Style-icon --- */
/* Variables icons default */
/* Variables icons bodered */
/* Variables icons darker */
/* Variables icons light */
/* Variables icons plain */
/* Variables icons for light style */
/* Variables icons outline */
/* Variables icons inverse */
/* variables for tab style1 using as base of tab */
/* tab style version 4 */
/* tab style version 5 */
/* tab style version 6 */
/* tab style version 7 */
/* --- SCSS For Testimonials --- */
/* testimonials default */
/* testimonials-v1 */
/* testimonials light */
/* --- SCSS For Typography --- */
/*
// ----------------------------------------------
// Usage example:
// For IE set $mq-support to false.
// Set the fixed value.
// Then use mixins to test whether styles should be applied.
// ----------------------------------------------

$mq-support: false;
$mq-fixed-value: 1024;

// Renders at fixed value
@include bp (min-width, 300px) { 
    div { color:#000; }
}

// Doesn't render without MQ support
@include bp (min-width, 1200px) { 
    div { color:#FFF; }
}

// Doesn't render without MQ support
@include bp (max-width, 300px) { 
    div { color:#444; }
}

// Renders at fixed value
@include bp (max-width, 1200px) { 
    div { color:#888; }
}

// ----------------------------------------------
*/
/* ============================================ *
 * SCAFFOLD FORM
 * ============================================ */
/* Scaffolding can not be applied globally to all forms, since some forms are best displayed in a stacked layout */
/* line 35, ../scss/scaffold-forms.scss */
.scaffold-form .form-list > li {
  display: block;
}
/* line 38, ../scss/scaffold-forms.scss */
.scaffold-form .form-list > li:after {
  content: '';
  display: block;
  clear: both;
}
/* line 210, ../scss/bootstrap/_mixins.scss */
.scaffold-form .form-list > li:after:before, .scaffold-form .form-list > li:after:after {
  content: " ";
  display: table;
}
/* line 215, ../scss/bootstrap/_mixins.scss */
.scaffold-form .form-list > li:after:after {
  clear: both;
}
/* line 43, ../scss/scaffold-forms.scss */
.scaffold-form .fields {
  margin: 0;
  padding: 0;
}
/* line 46, ../scss/scaffold-forms.scss */
.scaffold-form .fields:after {
  content: '';
  display: block;
  clear: both;
}
/* line 210, ../scss/bootstrap/_mixins.scss */
.scaffold-form .fields:after:before, .scaffold-form .fields:after:after {
  content: " ";
  display: table;
}
/* line 215, ../scss/bootstrap/_mixins.scss */
.scaffold-form .fields:after:after {
  clear: both;
}
/* line 51, ../scss/scaffold-forms.scss */
.scaffold-form .fields > .fields,
.scaffold-form .field,
.scaffold-form .wide,
.scaffold-form .control {
  margin-bottom: 7px;
}
/* line 56, ../scss/scaffold-forms.scss */
.scaffold-form .fields > .fields:after,
.scaffold-form .field:after,
.scaffold-form .wide:after,
.scaffold-form .control:after {
  content: '';
  display: block;
  clear: both;
}
/* line 210, ../scss/bootstrap/_mixins.scss */
.scaffold-form .fields > .fields:after:before, .scaffold-form .fields > .fields:after:after,
.scaffold-form .field:after:before,
.scaffold-form .field:after:after,
.scaffold-form .wide:after:before,
.scaffold-form .wide:after:after,
.scaffold-form .control:after:before,
.scaffold-form .control:after:after {
  content: " ";
  display: table;
}
/* line 215, ../scss/bootstrap/_mixins.scss */
.scaffold-form .fields > .fields:after:after,
.scaffold-form .field:after:after,
.scaffold-form .wide:after:after,
.scaffold-form .control:after:after {
  clear: both;
}
/* line 61, ../scss/scaffold-forms.scss */
.scaffold-form label:first-child {
  float: left;
  width: 135px;
  padding: 7px 8px 0 0;
}
/* line 67, ../scss/scaffold-forms.scss */
.scaffold-form select,
.scaffold-form textarea,
.scaffold-form input[type=email],
.scaffold-form input[type=search],
.scaffold-form input[type=number],
.scaffold-form input[type=password],
.scaffold-form input[type=tel],
.scaffold-form input[type=text] {
  width: 330px;
  max-width: 100%;
}
/* line 79, ../scss/scaffold-forms.scss */
.scaffold-form .input-box {
  float: left;
  max-width: 350px;
}
/* line 84, ../scss/scaffold-forms.scss */
.scaffold-form .buttons-set {
  padding-top: 5px;
}

@media only screen and (max-width: 599px) {
  /* line 93, ../scss/scaffold-forms.scss */
  .scaffold-form label:first-child {
    float: none;
    width: auto;
    padding: 0;
  }
  /* line 99, ../scss/scaffold-forms.scss */
  .scaffold-form .input-box {
    float: none;
    max-width: 100%;
  }
  /* line 103, ../scss/scaffold-forms.scss */
  .scaffold-form .control .input-box {
    clear: none;
    float: left;
    display: inline;
    width: auto;
  }
  /* line 109, ../scss/scaffold-forms.scss */
  .scaffold-form .control label:first-child {
    float: left;
  }
}
