$c-blue: #ff7800;
$c-green: #11B400;
$c-pink: #D85378;
$c-orange: #F3793B;
$c-red: #CF5050;
$c-yellow: #FFDD15;
$c-black: #000000;
$c-gray: #333333;

// =============================================
// Base Colors
// =============================================

// Text

$c-text: #356200;
$c-text-gray: #A0A0A0;
$c-text-white: #E6E6E6;