<?xml version="1.0"?>
<config>
    <modules>
        <Adminextend_Manage>
            <version>1.0.0</version>
        </Adminextend_Manage>
    </modules>
    <global>
        <helpers>
            <adminextend_manage>
                <class>Mage_Core_Helper</class>
            </adminextend_manage>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <foo_bar before="Mage_Adminhtml">Adminextend_Manage_Adminhtml</foo_bar>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>