<?xml version="1.0"?>  
<config>  
	<modules>  
		<Ves_Brand>  
			<version>1.2.0</version>  
		</Ves_Brand>  
	</modules>  
	<frontend>
		<translate>
			<modules>
				<Ves_Brand>
					<files>
						<default>Ves_Brand.csv</default>
					</files>
				</Ves_Brand>
			</modules>
		</translate>
		 <routers>
            <brand>
                <use>standard</use>
                <args>
                    <module>Ves_Brand</module>
                    <frontName>venusbrand</frontName>
                </args>
            </brand>
        </routers>
		<layout>
			<updates>
				<brand module="ves_brand">
					<file>ves_brand.xml</file>
				</brand>
			</updates>
		</layout>
		<events>
			<controller_action_layout_generate_blocks_after>
				<observers>
					<ves_brand_observer>
						<type>singleton</type>
						<class>Ves_Brand_Model_Observer</class>
						<method>beforeRender</method>
					</ves_brand_observer>
				</observers>
			</controller_action_layout_generate_blocks_after>
	 
        </events>
	</frontend>	
	<global>  		     
		<blocks>
            <ves_brand>
                <class>Ves_Brand_Block</class>
            </ves_brand>
        </blocks>
        <models>
            <ves_brand>
                <class>Ves_Brand_Model</class>
                <resourceModel>ves_brand_mysql4</resourceModel>
            </ves_brand>
            <ves_brand_mysql4>
                <class>Ves_Brand_Model_Mysql4</class>
                <entities>
                	<group>
                        <table>ves_brand_group</table>
                    </group>
                    <group_store>
                        <table>ves_brand_group_store</table>
                    </group_store>
					<brand>
                        <table>ves_brand_brand</table>
                    </brand>
					<brand_store>
                        <table>ves_brand_brand_store</table>
                    </brand_store>
                </entities>
            </ves_brand_mysql4>
        </models>
        <helpers>
            <ves_brand>
                <class>Ves_Brand_Helper</class>
            </ves_brand>
        </helpers>
        <resources>
            <ves_brand_setup>
                <setup>
                    <module>Ves_Brand</module>
				
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ves_brand_setup>
            <ves_brand_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ves_brand_write>
            <ves_brand_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ves_brand_read>
        </resources>
		<events>
			 
	 
			<controller_front_init_routers>
				<observers>
					<ves_brand_observer>
						<type>singleton</type>
						<class>Ves_Brand_Model_Observer</class>
						<method>initControllerRouters</method>
					</ves_brand_observer>
				</observers>
			</controller_front_init_routers>
        </events>
	</global>  
	<admin>
        <routers>
            <brand>
                <use>admin</use>
                <args>
                    <module>Ves_Brand</module>
                    <frontName>brand</frontName>
                </args>
            </brand>
             <adminhtml>
                <args>
                    <modules>
                        <Ves_Brand after="Mage_Adminhtml">Ves_Brand_Adminhtml</Ves_Brand>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
	<adminhtml>
        <translate>
			<modules>
				<Ves_Brand>
					<files>
						<default>Ves_Brand.csv</default>
					</files>
				</Ves_Brand>
			</modules>
		</translate>
    </adminhtml>	
		
	<default>
        <ves_brand>
            <general_setting>
                <show>1</show>    
                <theme>default</theme>
                <listing_layout>grid</listing_layout>
                <list_limit>10</list_limit>
				<enable_jquery>0</enable_jquery>
				<title>Ves Brand</title>  
				<theme>default</theme>
                <route>ves-brand</route>
				<extension>html</extension>
				<brand_imagesize>124x45</brand_imagesize>
				<enable_icon>1</enable_icon>
			</general_setting>
			 
			<module_setting>
				<enable_scrollmodule>1</enable_scrollmodule>
				<brandnav_parent>0</brandnav_parent>
				<columns>6</columns>
				<max_items>4</max_items>
				<scroll_position>content</scroll_position>
				<scroll_title></scroll_title>
				<scrollmod_desc></scrollmod_desc>
				<scroll_display>after</scroll_display>
				<scroll_menuassignment>all</scroll_menuassignment>
				<scroll_typesource>scroll</scroll_typesource>
				<itemvisiable>10</itemvisiable>
				<isvertical>0</isvertical>
				<enable_brandnavmodule>1</enable_brandnavmodule>
				<brandnav_title>Shop By Brand</brandnav_title>
				<isdropdown>0</isdropdown>
				<brandnav_menuassignment>all</brandnav_menuassignment>
				<brandnav_title>Brand Categories</brandnav_title>
				<brandnav_position>right</brandnav_position>
				<brandnav_customposition></brandnav_customposition>
				<brandnav_display></brandnav_display>
				
			</module_setting>
			<carousel_setting>
				<enable_owl_carousel>0</enable_owl_carousel>
				<auto_play>0</auto_play>
				<interval>3000</interval>
				<rtl>0</rtl>
				<show_navigator>1</show_navigator>
				<show_pager>1</show_pager>
				<loop>1</loop>
				<mouse_drag>1</mouse_drag>
				<touch_drag>1</touch_drag>
				<slide_by>1</slide_by>
				<margin_item>0</margin_item>
				<mobile_items>1</mobile_items>
				<tablet_items>2</tablet_items>
				<portrait_items>3</portrait_items>
				<large_items>5</large_items>
			</carousel_setting>
        </ves_brand>
    </default>
</config>  