<?xml version="1.0"?>
<!--
/**
 * @category	Venustheme
 * @package		Ves_Themesettings
 * @author		Venustheme
 * @copyright	Copyright 2012-2015 Venustheme
 */
-->
<config>
	<modules>
		<Ves_Themesettings>
			<version>1.0.1</version>
		</Ves_Themesettings>
	</modules>
	<global>
		<blocks>
			<themesettings>
				<class>Ves_Themesettings_Block</class>
			</themesettings>
			<page>
				<rewrite>
					<html_head>Ves_Themesettings_Block_Html_Head</html_head>
					<html_header>Ves_Themesettings_Block_Html_Header</html_header>
				</rewrite>
			</page>
			<configurableswatches>
				<rewrite>
					<catalog_media_js_list>Ves_Themesettings_Block_Catalog_Media_Js_List</catalog_media_js_list>
				</rewrite>
			</configurableswatches>
		</blocks>
		<helpers>
			<themesettings>
				<class>Ves_Themesettings_Helper</class>
			</themesettings>
			<configurableswatches>
				<rewrite>
					<mediafallback>Ves_Themesettings_Helper_Mediafallback</mediafallback>
				</rewrite>
			</configurableswatches>
		</helpers>
		<models>
			<themesettings>
				<class>Ves_Themesettings_Model</class>
				<resourceModel>themesettings_mysql4</resourceModel>
			</themesettings>
			<themesettings_mysql4>
				<class>Ves_Themesettings_Model_Mysql4</class>
			</themesettings_mysql4>
		</models>
		<resources>
			<themesettings_setup>
				<setup>
					<module>Ves_Themesettings</module>
					<class>Mage_Catalog_Model_Resource_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</themesettings_setup>
			<themesettings_write>
				<connection>
					<use>core_write</use>
				</connection>
			</themesettings_write>
			<themesettings_read>
				<connection>
					<use>core_read</use>
				</connection>
			</themesettings_read>
		</resources>
	</global>
	<admin>
		<routers>
			<themesettings>
				<use>admin</use>
				<args>
					<module>Ves_Themesettings</module>
					<frontName>themesettings</frontName>
				</args>
			</themesettings>
		</routers>

	</admin>
	<adminhtml>
		<events>     	
			<controller_action_postdispatch_adminhtml_system_config_save>
				<observers>
					<themesettings>
						<type>singleton</type>
						<class>themesettings/observer</class>
						<method>hookTo_controllerActionPostdispatchAdminhtmlSystemConfigSave</method>
					</themesettings>
				</observers>
			</controller_action_postdispatch_adminhtml_system_config_save>
			<store_edit>
				<observers>
					<themesettings>
						<type>singleton</type>
						<class>themesettings/observer</class>
						<method>hookTo_storeEdit</method>
					</themesettings>
				</observers>
			</store_edit>
			<store_add>
				<observers>
					<themesettings>
						<type>singleton</type>
						<class>themesettings/observer</class>
						<method>hookTo_storeAdd</method>
					</themesettings>
				</observers>
			</store_add>
		</events>
		<layout>
			<updates>
				<themesettings>
					<file>ves_themesettings.xml</file>
				</themesettings>
			</updates>
		</layout>
	</adminhtml>
	<frontend>
		<routers>
			<themesettings>
				<use>standard</use>
				<args>
					<module>Ves_Themesettings</module>
					<frontName>themesettings</frontName>
				</args>
			</themesettings>
		</routers>
		<translate>
			<modules>
				<Ves_Themesettings>
					<files>
						<default>Ves_Themesettings.csv</default>
					</files>
				</Ves_Themesettings>
			</modules>
		</translate>
		<layout>
			<updates>
				<themesettings>
					<file>ves_themesettings.xml</file>
				</themesettings>
			</updates>
		</layout>
	</frontend>
	<default>
		<themesettings>
			<general>
				<default_skin>default</default_skin>
				<direction>ltr</direction>
				<enable_paneltool>1</enable_paneltool>
			</general>
			<header>
				<layout>header</layout>
				<sticky>1</sticky>
				<show_currency>1</show_currency>
				<show_language>1</show_language>
				<top_links>1</top_links>
				<enable_customlogo>0</enable_customlogo>
			</header>
			<category>
				<show_name>1</show_name>
				<show_description>1</show_description>
				<show_image>1</show_image>
				<default_image></default_image>
				<show_toptoolbar>0</show_toptoolbar>
				<show_bottomtoolbar>0</show_bottomtoolbar>
			</category>
			<category_product>
				<show_name>1</show_name>
				<display_name_single_line>0</display_name_single_line>
				<show_short_description>1</show_short_description>
				<short_max_char></short_max_char>
				<show_learnmore>0</show_learnmore>
				<show_price>1</show_price>
				<show_rating>1</show_rating>
				<show_addtolinks>1</show_addtolinks>
				<show_countdowntimer>1</show_countdowntimer>
				<aspect_ratio>1</aspect_ratio>
				<image_width>300</image_width>
				<alt_image>1</alt_image>
				<alt_image_column>position</alt_image_column>
				<alt_image_column_value>1</alt_image_column_value>
			</category_product>
			<category_grid>
				<column_count>3</column_count>
				<equal_height>0</equal_height>
				<equal_height_type>maximun</equal_height_type>
				<hover_effect>1</hover_effect>
				<disable_hover_effect>480</disable_hover_effect>
			</category_grid>
			<product_page>
				<enable_zoom>1</enable_zoom>
				<zoom_type>window</zoom_type>
				<zoom_lenssize>200</zoom_lenssize>
				<zoom_windowwidth>400</zoom_windowwidth>
				<zoom_windowheight>400</zoom_windowheight>
				<zoom_scroll>0</zoom_scroll>
				<zoom_easing>1</zoom_easing>
				<zoom_easing_type>swing</zoom_easing_type>
				<zoom_easingduration>300</zoom_easingduration>
				<zoom_lensfadein>200</zoom_lensfadein>
				<zoom_lensfadeout>200</zoom_lensfadeout>
				<zoom_windowfadein>200</zoom_windowfadein>
				<zoom_windowfadeout>200</zoom_windowfadeout>
				<zoom_bordersize>1</zoom_bordersize>
				<zoom_lensshape>basic</zoom_lensshape>
				<zoom_containlenszoom>1</zoom_containlenszoom>
				<zoom_lensopacity>0.8</zoom_lensopacity>
				<zoom_tint>1</zoom_tint>
				<zoom_tintfadein>200</zoom_tintfadein>
				<zoom_tintfadeout>200</zoom_tintfadeout>
				<zoom_tintopacity>0.8</zoom_tintopacity>
				<zoom_cursor>default</zoom_cursor>
				<enable_image_popup>1</enable_image_popup>
				<enable_loop>1</enable_loop>
				<enable_autoplay>1</enable_autoplay>
				<playspeed>500</playspeed>
				<additional_image_width>88</additional_image_width>
				<additional_image_height>132</additional_image_height>
				<additional_image_layout>horizontal_bottom</additional_image_layout>
				<visible>5</visible>
				<speed>1000</speed>
				<scroll>1</scroll>
				<auto_scroll>1000</auto_scroll>
				<non_circular>1</non_circular>
				<easing>swing</easing>
				<mouse_wheel>1</mouse_wheel>
				<tabs_mode>tabs</tabs_mode>
				<enable_description>1</enable_description>
				<enable_addtioninfo>1</enable_addtioninfo>
				<enable_reviews>1</enable_reviews>
				<enable_tags>1</enable_tags>
				<enable_related>0</enable_related>
				<enable_upsell>0</enable_upsell>
				<related_count>8</related_count>
				<related_breakpoints>[0, 4], [320,1], [480, 1], [768, 2],  [960, 3], [1280, 4]</related_breakpoints>
				<upsell_count>8</upsell_count>
				<upsell_breakpoints>[0, 4], [320,1], [480, 1], [768, 2],  [960, 3], [1280, 4]</upsell_breakpoints>
				<show_sku>1</show_sku>
				<show_social>1</show_social>
				<show_countdowntimer>1</show_countdowntimer>
				<show_addtolinks>1</show_addtolinks>
			</product_page>
			<product_labels>
				<new>1</new>
				<sale>1</sale>
			</product_labels>
			<product_slider>
				<show_name>1</show_name>
				<display_name_single_line>0</display_name_single_line>
				<show_short_description>1</show_short_description>
				<short_max_char>1</short_max_char>
				<show_learnmore>0</show_learnmore>
				<show_price>1</show_price>
				<show_rating>1</show_rating>
				<show_addtolinks>1</show_addtolinks>
				<show_countdowntimer>1</show_countdowntimer>
				<aspect_ratio>1</aspect_ratio>
				<image_width>300</image_width>
				<alt_image>1</alt_image>
				<alt_image_column>position</alt_image_column>
				<alt_image_column_value>2</alt_image_column_value>
			</product_slider>
			<contacts_page>
				<enable_googlemap>1</enable_googlemap>
				<address>112 Trần Bình, Mai Dịch, Cầu Giấy, Hà Nội, Vietnam</address>
				<location_lng>105.77577840000004</location_lng>
				<location_lat>21.0309091</location_lat>
				<map_zoom>15</map_zoom>
				<marker_content_width>300</marker_content_width>
				<marker_content_height>300</marker_content_height>
			</contacts_page>
			<footer>
				<enable_footer_top>1</enable_footer_top>
				<enable_footer_center>0</enable_footer_center>
				<enable_footer_bottom>0</enable_footer_bottom>
				<scroll_top>1</scroll_top>
				<enable_coppyright>1</enable_coppyright>
				<enable_custom_coppyright>0</enable_custom_coppyright>
			</footer>
			<cart_page>
				<crosssel_count>8</crosssel_count>
				<crosssell_breakpoints>[0, 1], [320, 2], [480, 3], [960, 4], [1280, 5]</crosssell_breakpoints>
			</cart_page>
			<magento_blocks>
				<newsletter>1</newsletter>
				<related_products_checkbox>1</related_products_checkbox>
			</magento_blocks>
			<customization>
				<enable_custom_css>0</enable_custom_css>
			</customization>
			<compression>
				<compress_css_type>1</compress_css_type>
				<compress_js_type>1</compress_js_type>
			</compression>
		</themesettings>
	</default>
</config>